// Fonts
@font-face {
    font-family: "ArialRegular";
    src: url("../fonts/ArialRegular/ArialRegular.eot");
    src: url("../fonts/ArialRegular/ArialRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArialRegular/ArialRegular.woff") format("woff"),
    url("../fonts/ArialRegular/ArialRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "BebasNeueBook";
    src: url("../fonts/BebasNeueBook/BebasNeueBook.eot");
    src: url("../fonts/BebasNeueBook/BebasNeueBook.eot?#iefix")format("embedded-opentype"),
    url("../fonts/BebasNeueBook/BebasNeueBook.woff") format("woff"),
    url("../fonts/BebasNeueBook/BebasNeueBook.woff2") format("woff2"),
    url("../fonts/BebasNeueBook/BebasNeueBook.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "BebasNeueRegular";
    src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot");
    src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/BebasNeueRegular/BebasNeueRegular.woff") format("woff"),
    url("../fonts/BebasNeueRegular/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular/BebasNeueRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Verdana";
    src: url("../fonts/Verdana/Verdana.eot");
    src: url("../fonts/Verdana/Verdana.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Verdana/Verdana.woff") format("woff"),
    url("../fonts/Verdana/Verdana.woff2") format("woff2"),
    url("../fonts/Verdana/Verdana.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-Thin";
    src: url("../fonts/Roboto-Thin/Roboto-Thin.eot");
    src: url("../fonts/Roboto-Thin/Roboto-Thin.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Roboto-Thin/Roboto-Thin.woff") format("woff"),
    url("../fonts/Roboto-Thin/Roboto-Thin.woff2") format("woff2"),
    url("../fonts/Roboto-Thin/Roboto-Thin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}